<!DOCTYPE html>
<html>
{% include 'html_head.twig' with {'title' : 'Documentation' } %}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
        new ClipboardJS('.btn');
    })
</script>
    <body>
        {% include 'navbar.twig' %}
        <div class="jumbotron text-center">
            http://sudoku.daw2m.com/api
        </div>
        <div class="m-2 card">
            <div class="card-body">
                <h2>API Calls</h2>
                <table class="table table-striped">
                    <tr><th colspan=2>Call</th><th>Description</th><th>Info</th></tr>
                    <tbody>
                    <tr>
                        <td><samp><small class="text-muted">POST&nbsp;</small><span class="text-primary">/register&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/register" class="btn btn-sm">Copy</button></td>
                        <td>Registers a user</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: email. Return: token.">
                                i
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><samp><small class="text-muted">PUT&nbsp;</small><span class="text-primary">/player&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/player" class="btn btn-sm">Copy</button></td>
                        <td>Update the user's name/email</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: token. Optional headers: name, email.">
                                i
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><samp><small class="text-muted">GET&nbsp;</small><span class="text-primary">/player&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/player" class="btn btn-sm">Copy</button></td>
                        <td>Returns current player's info</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: token.">
                                i
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><samp><small class="text-muted">GET&nbsp;</small><span class="text-primary">/player/all&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/player/all" class="btn btn-sm">Copy</button></td>
                        <td>Returns all players' info</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: token.">
                                i
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><samp><small class="text-muted">GET&nbsp;</small><span class="text-primary">/player/(player_id)&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/player/" class="btn btn-sm">Copy</button></td>
                        <td>Returns one player's info</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: token.">
                                i
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><samp><small class="text-muted">GET&nbsp;</small><span class="text-primary">/sudoku&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/sudoku" class="btn btn-sm">Copy</button></td>
                        <td>Returns all sudokus</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: token.">
                                i
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><samp><small class="text-muted">GET&nbsp;</small><span class="text-primary">/sudoku/(sudoku_id)&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/sudoku/" class="btn btn-sm">Copy</button></td>
                        <td>Returns one sudoku</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: token.">
                                i
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><samp><small class="text-muted">PUT&nbsp;</small><span class="text-primary">/sudoku/(sudoku_id)&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/sudoku/" class="btn btn-sm">Copy</button></td>
                        <td>Saves a sudoku's state</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: token. Optional headers: sudoku, time (int)">
                                i
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><samp><small class="text-muted">GET&nbsp;</small><span class="text-primary">/ranking&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/ranking" class="btn btn-sm">Copy</button></td>
                        <td>Returns all players ordered by the finished sudokus.</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: token.">
                                i
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><samp><small class="text-muted">PUT&nbsp;</small><span class="text-primary">/reset&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/reset" class="btn btn-sm">Copy</button></td>
                        <td>Resets all of the player's sudokus.</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: token.">
                                i
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><samp><small class="text-muted">PUT&nbsp;</small><span class="text-primary">/reset/(sudoku_id)&nbsp;</span></samp></td>
                        <td><button data-clipboard-text="http://sudoku.daw2m.com/api/reset/" class="btn btn-sm">Copy</button></td>
                        <td>Resets the specified sudoku.</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"data-container="body"
                                data-toggle="popover" data-placement="left"
                                data-content="Headers: token.">
                                i
                            </button>
                        </td>
                    </tr>
                    <tbody>
                </table>
            </div>
        </div>
    </body>
</html>