<!DOCTYPE html>
<html>
{% include 'html_head.twig' with {'title' : 'Documentation' } %}
    <body>
        {% include 'navbar.twig' %}
        <div class="jumbotron text-center">
            <a href="/docs" class="btn btn-primary">Documentation -&gt;</a>
        </div>
    </body>
</html>